@model DisTicaretMaliyetVM

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sipariş Ekleme</title>
    <link rel="stylesheet" href="~/css/MaliyetDetay.css">
</head>

<body>

    <div class="card-ekleme">
        <h3 class="title">Maliyet Detay Sayfası</h3>
        <form class="ekleme-frm">

            <label>Kur : @Model.Kur</label>

            <label>Birim Fiyat : @Model.BirimFiyat</label>

            <label>Ürün Tonaj : @Model.UrunTonaj</label>

            <label>Gümrük Oran : @Model.GumrukOran</label>

            <label>Gümrük Vergisi  : @Model.GumrukVergisi</label>

            <label>Damga Vergisi  : @Model.DamgaVergisi</label>

            <label>Lokal Masraf  : @Model.LokalMasraf</label>

            <label>Liman Masraf : @Model.LimanMasraf</label>

            <label>Ordino Bedel : @Model.OrdinoBedel</label>

            <label>Gümrük Komisyon  : @Model.GumrukKomisyon</label>

            <label>Nakliye : @Model.Nakliye</label>

            <label>Demuraj : @Model.Demuraj</label>

            <label>Diger : @Model.Diger</label>

            <label>Ürün Bedel Doviz : @Model.UrunBedelDoviz</label>

            <label>Ürün Bedel TL : @Model.UrunBedelTL</label>

            <label>TL Çıkan Masraf  : @Model.TLMasraf</label>

            <label>Döviz Çıkan Masraf  : @Model.DovizMasraf</label>

            <label>Toplam TL Maliyet  : @Model.ToplamTLMaliyet</label>

            <label>Toplam Döviz Maliyet  : @Model.ToplamDovizMaliyet</label>

            <label>Maliyetli Birim Fiyat  : @Model.MaliyetliBirimFiyat</label>

            <label>Karlı Birim Fiyat  : @Model.KarliBirimFiyat</label>


        </form>
    </div>














</body>

</html>